{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div class="s-section">
    <div class="container-box">
        <div class="h2-block decoration">
            <h2>Контакты</h2>
        </div>
        <div>
            <h3>Если у вас появились вопросы</h3>
            <p>
                Вы можете связаться по телефону:
            </p>
            <div class="contact-container">
                <div class="flex contact-row">
                    <p>
                        <a href="tel:+79232273248">+7 (923) 227 32 48</a>
                    </p>
                    <p>
                        <span>Техническая поддержка: </span>
                        <a href="mailto:qwerty@qwe.com">qwerty@qwe.com</a>
                    </p>
                </div>
            </div>
            <div class="contact-container">
                <div class="flex contact-row">
                    <p>
                        <a href="tel:+79059556669">+7 (905) 955 66 69</a>
                    </p>
                    <p>
                        <span>Консультация по испытаниям</span>
                        <a href="mailto:qwerty@qwe.com">qwerty@qwe.com</a>
                    </p>
                </div>
            </div>
            <div class="contact-container">
                <div class="flex contact-row">
                    <p>
                        <a href="tel:+79137633651">+7 (913) 763 36 51</a>
                    </p>
                    <p>
                        <span>Консультация по ТБ</span>
                        <a href="mailto:qwerty@qwe.com">qwerty@qwe.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <p>
                Или заполнить форму <a href="{% url 'users:callback' %}">обратной связи</a>
            </p>
        </div>
        <!-- <div class="h2-block decoration">
            <h2>Дополнительные опции</h2>
        </div> -->
    </div>
</div>
{% endblock %}