{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div class="s-section">
    <div class="container-box">
        <div class="h2-block decoration">
            <h2> Требования к АВР</h2>
        </div>
        <div>
            <p>
            <ul>
                <li>
                    Обеспечение подачи питания потребителю электроэнергии от резервного ввода, если произошло
                    непредвиденное
                    прекращение работы основной линии.
                </li>
                <li>
                    Максимально быстрое восстановление электропитания.
                </li>
                <li>
                    Обязательная однократность действия. То есть, недопустимо несколько включений-отключений нагрузки
                    из-за
                    КЗ или
                    по иным причинам.
                </li>
                <li>
                    Включение выключателя основного питания должно производиться автоматикой АВР до подачи резервного
                    электропитания.
                </li>
                <li>
                    Система АВР должна контролировать цепь управления резервным оборудованием на предмет исправности.
                </li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="h2-block decoration">
            <h2>Устройство АВР</h2>
        </div>
        <div>
            <p>
            <ul>
                <li>
                    Одностороннее. В таких АВР один ввод играет роль рабочего, то есть используется, пока в линии не
                    возникнут
                    проблемы. Второй – является резервным, и подключается, когда в этом возникает необходимость.
                </li>
                <li>
                    Двухстороннее. В этом случае нет разделения на рабочую и резервную секцию, поскольку оба ввода имеют
                    одинаковый
                    приоритет.
                </li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="h2-block decoration">
            <h2>Описание</h2>
        </div>
        <div>
            <p>
                <span>
                    Файлы конфигурации (как готовое решение) для систем АВР на ПЛК (программируемые логические
                    контроллеры):
                </span>
            <ul>
                <li>
                    Zelio
                </li>
                <li>
                    Owen
                </li>
                <li>
                    Logo8!
                </li>
                <li>
                    Oni ...
                </li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="h2-block decoration">
            <h2>Типы АВР</h2>
        </div>
        <div>
            <p>
            <ul>
                <li>
                    2 ввода с секционированием
                </li>
                <li>
                    2 ввода с секционированием + генератор
                </li>
                <li>
                    2 ввода без секционирования
                </li>
                <li>
                    2 ввода без секционирования + генератор
                </li>
            </ul>
            </p>
        </div>
        <hr>
        <div class="h2-block decoration">
            <h2>Передача данных по сети Modbus (RTU, TCP)</h2>
        </div>
        <div>
            <p>
                <ul>
                    <li>
                        Возможность дистанцинной блокировки АВР (активация дистанционного управления)
                    </li>
                    <li>
                        Управление автоматическими выключателями в дистанционном режиме
                    </li>
                    <li>
                        Система мониторинга в реальном времени за процесом работы
                    </li>
                </ul>
            </p>
        </div>
        <hr>
        <div class="h2-block decoration">
            <h2>Панели оператора</h2>
        </div>
        <div>
            <p>
                <ul>
                    <li>
                        Ведение журнала событий
                    </li>
                    <li>
                        Уровень доступа к данным
                    </li>
                    <li>
                        Мнемосхема и состояние работы
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}