{% load static %}

<div class="flex justify-content">
    <ul class="pagination">
        <li class="page-item page-link">Предыдущая</li>
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        <li class="page-item page-link">Следующая</li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        {% endif %}
    </ul>
</div>