{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div>
    {% for system in searches %}
    <div>
        <div>
            <h4>
                {{ system.type_avr }}
            </h4>
        </div>
        <div>
            <p>
                <span>Название</span>
                <a href="{% url 'system:detail_system' system.type_avr.slug %}">
                    <div>
                        <h5>{{ system.name }}</h5>
                    </div>
                </a>
            </p>
            <p><span><b>Тип ПЛК: </b> {{ system.relay }}</span></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}