{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div>
    {% for search in searches %}
    <div>
        <div>
            <h4>
                {{ search.type_avr }}
            </h4>
        </div>
        <div>
            <p><span><b>Название: </b> {{ search.name }}</p></span>
            <p><span><b>Тип ПЛК: </b> {{ search.relay }}</p></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}