{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}


{% block content %}
<div class="s-section">
    <div class="container-box">
        <div class="container">
            <div class="h2-block decoration">
                <h2>{{ title }}</h2>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>Система АВР</b></td>
                            <td><b>Название</b></td>
                            <td><b>Тип ПЛК</b></td>
                            <td></td>
                        </tr>
                        {% for system in searches %}
                        <tr>
                            <td>{{ system.type_avr.name }}</td>
                            <td><span>{{ system.name }}</span></td>
                            <td><span> {{ system.relay.brand }}_{{ system.relay }}</span></td>
                            <td>
                                <a href="{% url 'system:detail_product' system.slug %}">
                                    Подробнее >>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
            {% if messages %}
            <div class="message">
                {% include 'messages/message.html' %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
