{% extends 'base/base.html' %}
{% load banners_tags %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}

{% block banner %}
<div class="banner-box">
    {% banner_main_page %}
</div>
{% endblock %}
<div class="s-section">
    <div class="container-box">
        <div class="h2-block decoration">
            <h2>Варианты исполнения</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for system in systems %}
            <div class="col wrap-item">
                <div class="card-box">
                    <div class="card h-100">
                        <div class="flex card-img-h align-items">
                            <img src="{{ system.images.first.photo.url }}" class="card-img-top card-img-pos"
                                alt="{{ system.name }}">
                        </div>
                        <a class="card-link" href="">
                            <div class="card-body">
                                <h5 class="card-title card-title-size">{{ system.name }}</h5>
                                <!-- <p class="card-text">{{ system.description }}</p> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<!-- 
    {% for system in systems %}
{% if system.access %}
<p>
    <a href="{% url 'system:detail_system' system.slug %}">{{ system }}</a>
</p>
{% endif %}
{% endfor %}
 -->