{% load static i18n %}

<div id="carouselExampleAutoplaying" class="carousel slide banner" style="width: 880px;" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for banner in banners %}
        <div class="carousel-item active">
            <img src="{{ banner.photo.url }}" class="d-block w-100 " alt="{{ banner.name }}">
            <div class="carousel-caption d-none d-md-block fon-for-title">
                <h3 class="d-block w-100">{{ banner.name }}</h3>
                <span class="d-block w-100">{{ banner.description }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
