{% load static i18n %}

<div class="container">
    <div class="flex footer-content">
        <div class="footer-pt-15">
            <div class="flex footer-fluid align-items">
                <div>
                    <a class="navbar-brand" href="{% url 'system:index' %}">
                        Автоматизация для систем АВР
                    </a>
                </div>
                <div>
                    <ul>
                        {% for m in menu %}
                        <li class="footer-list">
                            <a class="footer-link" href="{% url m.url %}">{{ m.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>messager</div>
            </div>
            <hr>
            <div class="flex justify-content-center footer-root-padding">
                ©2024 Автоматизация для систем АВР - Все права защищены! Использование материалов сайта возможно только
                с предоставление прямой активной ссылки
            </div>
        </div>
    </div>
</div>