{% load static i18n %}

<div class="fixed-bottom bg-body-tertiary">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'system:index' %}">
                Автоматизация для систем АВР
            </a>
            <hr>
            <div class="flex justify-content-center footer-root-padding">
                ©2024 Автоматизация для систем АВР - Все права защищены! Использование материалов сайта возможно только
                с предоставление прямой активной ссылки
            </div>
        </div>
    </nav>
</div>