{% load static i18n %}

<div class="container">
    <div class="flex justify-content-center fd-col">
        <div class="flex nav-title">
            <div class="nav-title-centr">
                <h3>Автоматизация для системы АВР</h1>
            </div>
            <!-- <div class="navbar">
                <div class="nav-language">
                    <form class="flex" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <div class="reset-input">
                            <input name="text" type="hidden" value="{{ redirect_to }}">
                            <select class="select-language" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {%endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn-language" type="submit">Go</button>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="flex align-items">
            <div class="flex navbar-search">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Переключатель навигации">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav nav-pills">
                                {% for m in menu %}
                                <li class="flex nav-item align-items">
                                    {{ link }}
                                    <a class="nav-link {% if link == m.link %}active{% endif %}" aria-current="page" href="{% url m.url %}">{{ m.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2 m-w3" type="search" placeholder="Поиск" aria-label="Поиск">
                                <button class="btn btn-outline-success btn-w" type="submit">Поиск</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="flex align-items">
                <ul class="nav justify-content-end align-items">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active reset-padding" style="color: aliceblue;" aria-current="page" href="."
                        onclick="AuthUser('/user/login', 'Popup window', 600, 600)">
                        <!-- href="{% url 'users:login' %}" -->
                            Вход
                        </a>
                    </li>
                    <span>|</span>
                    <li class="nav-item">
                        <a class="nav-link active reset-padding" style="color: aliceblue;" aria-current="page"
                        href="" onclick="RegisterUser('/user/register', 'Popup window', 600, 600)">
                        <!-- href="{% url 'users:register' %}" -->
                        Регистрация
                    </a>
                    </li>
                    {% else %}
                    <div class="flex align-items user-auth">
                        <li class="nav-item">
                            <span>Привет {% if user.first_name %}<b>{{ user.first_name }}</b>{% else %} <b>{{ user }}</b>
                                {% endif %}</span>
                        </li>
                        <li>
                            {% if user.is_staff %}
                                <a class="nav-link active" href="{% url 'admin:index' %}">
                                    <span class="d-inline-block nav-icon-circle" tabindex="0" data-bs-toggle="tooltip"
                                        data-bs-title="Отключенная подсказка">
                                        <img src="{% static 'img/default/admin_set.svg' %}" width='30px' alt="admin">
                                    </span>
                                </a>
                            {% endif %}
                        </li>
                    </div>
                    <div class="flex align-items user-auth">
                        <li class="nav-item">
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="{% url 'users:account' %}">Личный кабинет</a>
                        </li>
                        <span>| </span>
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <a href=".">
                                    <button class="btn-logout" type="submit">Выход</button>
                                </a>
                                <!-- <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="">Выход</a> -->
                            </form>
                        </li>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>