{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div class="flex reset-pas-block container-box form-login">
    <div class="flex container justify-content-center auth-pos">
        <h1>{{ title }}</h1>
    </div>
    <div class="flex justify-content-between">
        <div class="flex align-items-centr">
            <p class="h5">
                <span>Ваш новый пароль установлен. </span>
                <span>Теперь вы можете войти в систему</span>
            </p>
            <p class="pl-5">
                <a class="btn btn-outline-success" href="{% url 'users:login' %}">Войти</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}