{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block left_sidebar %}
{% include 'profile/nav_left_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="s-section">
    <div class="container-box mb-3" style=" background: #c7b9b938;">
        <div class="h2-block decoration">
            <h2>Просмотр заказов</h2>
        </div>
        <div class="container">
            <div>
                <div class="product-detail-box">
                    <table id="table" class="table">
                        <thead>
                            <tr>
                                <td><b>№</b></td>
                                <td><b>Заказчик</b></td>
                                <td><b>Название</b></td>
                                <td><b>Описание</b></td>
                                <td><b>Схема</b></td>
                                <td><b>Статус</b></td>
                            </tr>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.user }}</td>
                                <td>{{ order.name }}</td>
                                <td><a href="{{ order.description.url }}" target="_blank">смотреть</a></td>
                                <td><a href="{{ order.scheme.url }}" target="_blank">смотреть</a></td>
                                <td id="status">{{ order.status }}</td>
                                <script>
                                    if (table.rows[1].cells[5].innerHTML === 'Готов') {
                                        document.getElementById('status').innerHTML = `<span style="color: green;"><b>{{ order.status }}</b></span>`;
                                    };
                                    if (table.rows[1].cells[5].innerHTML === 'В обработке') {
                                        document.getElementById('status').innerHTML = `<span style="color: orange;"><b>{{ order.status }}</b></span>`;
                                    };
                                </script>
                            </tr>
                            {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'index/paginator.html' %}
</div>
{% endblock %}