{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block left_sidebar %}
{% include 'profile/nav_left_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="s-section">
    <div class="container-box mb-3" style=" background: #c7b9b938;">
        <div class="h2-block decoration">
            <h2>Просмотр заказов</h2>
        </div>
        <div class="container">
            <div>
                <div class="product-detail-box">
                    <table id="table" class="table">
                        <thead>
                            <tr>
                                <td><b>№</b></td>
                                <td><b>Заказчик</b></td>
                                <td><b>Название</b></td>
                                <td><b>Описание</b></td>
                                <td><b>Схема</b></td>
                                <td><b>Статус</b></td>
                            </tr>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.user }}</td>
                                <td>{{ order.name }}</td>
                                <td><a href="{{ order.description.url }}" target="_blank">смотреть</a></td>
                                <td><a href="{{ order.scheme.url }}" target="_blank">смотреть</a></td>
                                <td name="status" id="{{ order.status }}">{{ order.status }}</td>
                            </tr>
                            {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <script>
            let rows = document.getElementsByName('status')
            for (let i = 0; i < rows.length; i++) {
                let status_1 = table.rows[i + 1].cells[5].innerHTML
                if (status_1 === 'Готов') {
                    let elem = document.getElementById('Готов');
                    elem.style.background = 'green';
                } else {
                    let elem = document.getElementById('В обработке');
                    elem.style.background = 'orange';
                };
            }
        </script>
    </div>
    {% include 'index/paginator.html' %}
</div>
{% endblock %}