{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div class="flex reset-pas-block container-box form-login">
    <div class="flex container justify-content-center auth-pos">
        <h1>{{ title }}</h1>
    </div>
    <div>
        <p>
            Письмо с инструкциями по восстановлению пароля отправлено
        </p>
        <p>
            Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес).
             Вы должны получить ее в ближайшее время.
        </p>
        <p>
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
        </p>
    </div>
</div>
{% endblock %}