{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block content %}
<div class="flex container-box form-login" style="flex-direction: column; justify-content: flex-start;">
    <div class="flex container auth-pos">
        <h1>Пароль успешно изменен</h1>
    </div>
    <div class="container">
        <div class="pswd-reset">
            <div class="product-detail-box">
                <p class="flex p-rows m-16">Вы успешно изменили пароль. 
                    <a href="{% url 'users:account' user.pk %}">Вернуться в профиль.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

padding: 8px;
background: aquamarine;
