h2 {
    justify-content: center;
    font-size: 20px;
}

.mb-3 {
    margin-bottom: 3em;
}

.pb-1 {
    padding-bottom: 1em;
}

.table-box {
    min-width: 100%;
}

.td-input {
    justify-content: flex-end;
}

.td-clear-cache {
    justify-content: flex-end;
    padding-right: 38px;
}

.flex {
    display: flex;
}

.container {
    max-width: 900px;
    padding-bottom: 25px;
    flex-direction: column;
}

.cache-link {
    margin-bottom: 25px;
    justify-content: space-between;
}

.setup-time-cache {
    padding: 20px 20px 0 20px;
    font-size: 15px;
}

.setup {
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.span-default, .time_today {
    padding-left: 35px;
    color: rgb(7, 172, 7);
    font-size: 20px;
}

.time_today {
    font-size: 15px;
}

.btn-input {
    min-width: 9em;
}