{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %} <title>{{ title }}</title> {% endblock %}

{% block left_sidebar %}
{% include 'profile/nav_left_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="s-section">
    <div class="container-box">
        <div class="h2-block decoration">
            <h2>{{ title }}</h2>
        </div>
        <div>
            {% if orders %}
            <table class="table table-box">
                <thead>
                    {% for order in orders %}
                    <tr>
                        <form class="flex setup" method="post" action="#">
                            {% csrf_token %}
                            <td>
                                <label for="title_site">
                                    <span>{{ order}}:</span>
                                </label>
                            <td>
                                <span class="span-default">{{ order.system }}</span>
                            </td>
                            <td>
                                <span class="span-default">{{ order.name }}</span>
                            </td>
                            <td>
                                <span class="span-default">{{ order.relay }}</span>
                            </td>
                            <td class="td-input">
                                <span class="span-default">{{ order.status }}</span>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
            {% else %}
            {% if messages %}
            <div class="message">
                {% include 'messages/message.html' %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}