.nav-h, .footer-h {
    height: 200px;
}

.nav-mb-3 {
    margin-bottom: 30px;
}

.footer-mt-3 {
    margin-top: 30px;
}

.form-login {
    padding: 25px 0;
    justify-content: center;
}

.form-block {
    padding: 10px;
}

.form-label {
    min-width: 13em;
}

.form-error {
    color: red;
    font-size: 15px;
}

.form-input {
    width: 400px;
}

.span-name {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.auth-pos {
    margin-bottom: 80px;
    justify-content: center;
}

.account-block {
    height: 500px;
    font-size: 20px;
}

.btn-redact {
    min-width: 125px;
    padding: 0 10px;
    justify-content: center;
    /* outline: 1px solid #4a3838ba; */
    border-radius: 15px;
    text-decoration: none;
    background: #4046fd;
    color: aliceblue;
}