.form-login {
    padding: 25px 0;
    justify-content: center;
}

.form-block {
    padding: 10px;
}

.form-label {
    min-width: 13em;
}

.form-error {
    color: red;
    font-size: 15px;
}

.form-input {
    width: 400px;
}