h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

/* body {
    background-image: url("../img/тунель.gif");
    background-repeat: no-repeat;
    background-size: cover;
} */

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }

.move {
    background: url(../img/NFT.png);
}

h2 {
    font-size: 26px;
    text-align: center;
    color: #000;
}

@media screen and (min-width:370px) {
    .display {
        flex-direction: column;
    }
    h2 {
        font-size: 22px;
    }
}

.display {
    display: flex;
}

select {
    width: 400px;
}

.a {
    text-decoration: none;
}

nav, footer {
    min-width: 530px;
    background: rgb(108 108 112 / 52%);
    color: rgb(11 0 173 / 88%);
    /* background: rgb(11 0 173 / 88%); */
    /* color: aliceblue; */
}

.nav-link-prim, .footer-link {
    color: rgb(11 0 173 / 88%);
}

.content {
    margin-top: 31px;
    margin-bottom: 32px;
}

.flex {
    display: flex;
}

.h-8 {
    height: 88px;
}

.fd-col, .auth-block {
    flex-direction: column;
}

.align-items {
    justify-content: space-between;
    align-items: center;
}

.justify-content {
    justify-content: center;
}

/* .auth-block {
    flex-direction: column;
} */

.reset-padding {
    padding: 0 5px;
}

.reset-input {
    min-height: 0;
    height: 0;
}

.select-language {
    min-height: 0;
    margin-right: 15px;
}

.s-section {
    padding: 20px 0;
}

/* navigation searche */
.btn-language {
    padding: 0 10px;
    background: #e1e3e5;
    border: 1px solid;
}

.m-w3 {
    min-width: 300px;
    margin-left: 15px;
}

.btn-w {
    width: 150px;
    margin-left: 35px;
}

.btn-logout {
    /* padding-left: 13px; */
    background: none;
    border: 0;
    color: rgb(11 0 173 / 88%);
}

/* =========================== block nav ========================== */

.navbar-search {
    width: 118em;
    justify-content: center;
    padding-bottom: 10px;
}

.user-auth {
    width: 200px;
    margin: 0;
    padding-top: 7px;
    justify-content: space-around;
}

.nav-title {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-around;
    align-items: center;
}

.nav-title-centr {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.nav-language {
    padding-right: 50px;
}

.nav-link-color {
    color: #f3efef;
}

.nav-setting, .nav-icon-circle {
    background: aliceblue;
}

.nav-icon-circle {
    border-radius: 50%;
}

/* ============================ banner ============================== */

.banner {
    margin: 0 auto;
    margin-top: 50px;
}

.banner-box {
    margin-bottom: 50px;
}

.fon-for-title {
    background-color: rgb(12 0 195 / 76%);
    border-radius: 0 100px;
}

/* =========================== left-sidebar ========================== */

.left-sidebar {
    width: 22%;
}

.pl-4 {
    padding-left: 4em;
}

/* =========================== center_sidebar ======================== */

.container-box {
    /* margin-right: auto; */
    /* margin-left: auto; */
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-height:100px) {
    .container-box {
        min-height: 540px;
    }
}

@media (min-width:400px) {
    .container-box {
        width: 390px;
    }
}
@media (min-width:768px) {
    .container-box {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container-box {
        width: 908px;
    }
}

.container-fluid {
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }

 .h2-block.decoration {
    position: relative;
    height: 96px;
    margin-bottom: 30px;
}

.h2-block.decoration h2 {
    background: url(../img/Bezymyanny-1.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 96px;
    line-height: 70px;
    width: auto;
    position: absolute;
    left: -37px;
    top: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 120px 0 50px;
}


@media only screen and (max-width: 1200px) {
    .h2-block.decoration {
        font-size: 30px;
        height: 80px;
        line-height: 62px;
    }
}

.flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.row-m-3 {
    margin-bottom: 3em;
}

.clbk-pad {
    padding: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

/* ============================ cart list systems ==================== */

.card-list {
    max-width: 260px;
    margin-right: 20px;
    margin-bottom: 20px;
    outline: 1px solid rgb(11 0 173 / 88%);
    border-radius: 0 10px;
}

.card-list:last-child {
    margin-right: 0;
}

.card-title-size {
    text-align: center;
    font-size: 15px;
}

.wrap-item {
    text-align: center;
}

.card-box {
    height: 19em;
    border: 5px #3636ab solid;
    border-radius: 15px 15px 0 0;
}

.card-img {
    padding: 15px;
}

.card-icon {
    width: 100px;
}

.icon-list {
    max-width: 260px;
    margin-right: 60px;
    margin-bottom: 60px;
    outline: 1px solid rgb(11 0 173 / 88%);
    border-radius: 0 10px;
}

.card-link {
    /* padding: 10px 5px; */
    color: #e1e3e5;
    text-decoration: none;
    background: rgb(11 0 173 / 88%);
}

.card-link-p-10 {
    padding: 10px 0;
}

.card-img-pos {
    margin: 0 auto;
    /* width: 85%; */
    padding: 18px;
}

/* ============================ advantage block ===================== */

.advant-box {
    margin-bottom: 50px;
    background: #e9e4e4;
}

.advant-wrap {
    flex-wrap: wrap;
}

.advant-items {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.advant-img-block {
    max-height: 70px;
}

.advant-img {
    height: 100%;
    width: 100px;
}

.icon-block {
    height: 100px;
    text-align: center;
}

.item-box {
    flex-basis: 25%;
    max-width: 21%;
    padding: 15px 15px;
}

.item-wrap {
    flex-direction: column;
}

.content-block {
    font-size: 18px;
    text-align: center;
}

/* ============================ block contsct ======================= */

.contact-container {
    width: 100%;
}

.contact-row {
    justify-content:space-between
}

/* ============================ block footer ======================== */

.footer-box {
    position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

.footer-pt-15 {
    padding-top: 15px;
}

.footer-root-padding {
    padding-bottom: 30px;
}

.footer-fluid {
    justify-content: space-between;
}

.footer-icon {
    flex-direction: row;
}

.footer-icon, .footer-list {
    list-style-type: none;
}

.footer-list {
    flex-direction: column;
}


.footer-link {
    text-decoration: none;
    /* color: #e1e3e5; */
}